@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.woff2') format('woff2'),
        url('./fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
        url('./fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-position: 50%;
    font-family: 'Poppins';
}

.quiz-container {
    max-width: 464px;
    max-height: 559px;
    margin: auto;
    position: relative;
    margin-top: 3rem;
}

.container {
    background-color: #fff;
    padding: 68px 32px;
    border-radius: 24px;    
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.quiz-img {
    position: absolute;
    top: -10px;
    left: 65%;
    width: 162px;
    height: 116px;
}

h1 {
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin: 0;
    margin-bottom: 10px;
}

.question {
    font-size: 24px;
    color: #2F527B;
    margin-bottom: 32px;
}

.question-image {
    width: 84px;
    height: 54px;
    filter: drop-shadow(0 4px 24px rgba(0,0,0,.1));
    border-radius: 4px;
}

button {
    border-radius: 12px;
    color: rgba(96, 102, 208, 0.8);
    border: 2px solid rgba(96, 102, 208, 0.7);
    cursor: pointer;
}

.buttons button {
    max-width: 400px;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 46px;
    outline: none;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.buttons .btn:hover {
    background-color: #F9A826;
    color: #fff;
    border: none;
}

.buttons > button:active {
    color: #fff;
}

#untrue, #untrue:hover {
    background-color: #EA8282;
    background-image: url('./icons/incorrect.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 6%;
    color: #fff;
    border-color: #EA8282;
}

#true, #true:hover {
    background-color: #60BF88;
    background-image: url('./icons/correct.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 6%;
    color: #fff;
    border-color: #60BF88;
}

.next-button {
    height: 36px;
    background: #F9A826;
    width: 116px;
    height: 56px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    border: none;
    margin-top: 24px;
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
}

.next-button--anchor, .next-button {
    align-self: flex-end;
}

#increase-padding {
    padding-bottom: 32px;
}

.all-button {
    background-color: #fff;
}

.result {
    text-align: center;
    padding: 32px;
    max-height: 542px;
}

.result--heading {
    font-size: 48px;
    line-height: 72px;
    padding-top: 72px;
    padding-bottom: 22px;
    margin: 0;
}

.result--button {
    width: 33%;
    height: 48px;
    margin-top: 25px;
    background-color: #fff;
    border: 2px solid #1D355D;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D355D;
}

.result--text {
    font-size: 18px;
    line-height: 27px;
    color: #1D355D;
}

.result--text > span {
    color: #60BF88;
    font-size: 42px;
    font-weight: 700;
}

.disabledButton {
    pointer-events: none;
    cursor: default;
}

.result > img {
    margin-top: 2rem;
    max-width: 238px;
    width: 100%;
    align-self: center;
}

.builder {
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F2F2F2;
}