body {
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-position: 100%;
}

.quiz-container {
    max-width: 500px;
    margin: auto;
    position: relative;
    margin-top: 3rem;
}

.container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 24px;
}

.quiz-img {
    position: absolute;
    top: -44px;
    left: 58%;
    width: 150px;
}

h1 {
    text-transform: uppercase;
    color: #fff;
}

.question-image {
    width: 84px;
    height: 54px;
    filter: drop-shadow(0 4px 24px rgba(0,0,0,.1));
    border-radius: 4px;
}

button {
    border-radius: 12px;
    margin-bottom: 16px;
    color: rgba(96, 102, 208, 0.8);
    border: 2px solid rgba(96, 102, 208, 0.7);
    cursor: pointer;
}

.buttons > button {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons > button:hover {
    background-color: #F9A826;
}
 
.untrue {
    background-color: #EA8282;
    background-image: url('./icons/incorrect.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 6%;
}

.true {
    background-color: #60BF88;
    background-image: url('./icons/correct.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 6%;
}

.untrue:hover, .true:hover {
    background-color: initial;
}

.next-button {
    height: 36px;
    background: #F9A826;
    width: 20%;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    border: none;
    margin-bottom: 0;
    margin-left: 80%;
}
.next-button--anchor {
    height: 36px;
    width: 20%;
}

.all-button {
    background-color: #fff;
}

.result {
    text-align: center;
}

.result--heading {
    padding-top: 57px;
    text-transform: uppercase;
}

.result--button {
    width: 33%;
    height: 48px;
    margin-top: 25px;
}

.result--text > span {
    color: #60BF88;
    font-size: 2rem;
    font-weight: 700;
}

.disabledButton {
    /* outline: none; */
    pointer-events: none;
    cursor: default;
}

.result > img {
    margin-top: 2rem;
}
.builder {
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}